* {
    box-sizing: border-box;
    font-family: Montserrat;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0%;
}

body {
    margin: 0px;
}
p{
    text-overflow: ellipsis;
    overflow: hidden;
    }
:root{
    --primary-color: #FF6551;
--secondary-color:#737373;
--banner-color: #26335D;
--main-heading-text-color: #FFFFFF;

}


.container {
    max-width: 1050px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}
.header{
    background-color: #26335D;
    width: 100%;
}

.header .container{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.header_button{
    display: flex;
}
.main.page_button{
    display: flex;
    gap: 5px;
}
.sub h4{
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.20000000298023224px;
text-align: left;
}
.hero_cover{
    width: 50%;
}

.banner{
    background:var(--banner-color)
}
.banner .container{
    display: flex;
    max-width: 1440px;
    padding: 0px 25px 0px 25px;
}

.plain_banner{
    padding: 112px 0px 112px;
}
.plain_banner .container{
    display: flex;
    flex-direction: column;
    gap: 90px;
}
 .part{
     display: flex;

}
.banner_second{
    background:var(--banner-color);
    padding: 112px 0px 112px;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.brand h3 {
    color:var(--main-heading-text-color);
    display: flex;
    align-items: center;
    font-size: 35px;
}

.navbar ul {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color:var(--main-heading-text-color);
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
text-align: center;
}
.main_img{
   width: 50%;
}
.main_img img{
    width: 100%;
}
.container_header{
    display: flex;
    gap: 10px;
}
.btn{
    white-space: nowrap;
}
.btn.trans.ham{
    display: none;
}

.navbar {
    display: flex;
    gap: 16vw;
    align-items: center;
    color: var(--main-heading-text-color);

}

.btn {
    
    padding: 15px 25px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn.trans{
    background: transparent;
    color:var(--main-heading-text-color);
}
.btn.filled{
background: var(--primary-color);

    color: var(--main-heading-text-color);
    align-items: center;
padding: 15px 25px ;
gap: 10px;
}
.btn.border{
    background: transparent;
    color:var(--primary-color);
padding: 15px 40px ;
gap: 10px;
border-radius: 5;
border: 1px solid;
display: flex;
gap: 5px;
align-items: center;
}
.pricing .btn{
    border-radius: 37px;
    display: flex;
    align-items: self-end;
    justify-items: flex-end;
}
.emailbox .btn.filled{
    border:var(--main-heading-text-color);
    border-radius: 0px;
}
.subblock i{
    color: var(--main-heading-text-color);
}
.heading_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.center{

    max-width: 692px;
    align-items: center;
    justify-items: center;
}
 .heading_content.center p{
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color : var(--main-heading-text-color);
}

.heading_content p {
    max-width: 463px;
    color: var(--secondary-color);
}

.pricing p {
    color: var(--secondary-color);
    max-width: 182px;
}

.profile_box p {
    color:var(--secondary-color);
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: center;

}

.rights p {
    color:var(--secondary-color);
}
.banner .container img{
    width: 100%;
}
.header button{
    display: flex;
    gap: 10px;
}
.star i{
    color:#FFD43B ;
}


.sub {
    color:var(--main-heading-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 35px;
}

.sub h5 {
    color:var(--primary-color);
    font-size: 14px;
}

h1 {
    font-size: 58px;
}

.sub h4 {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    max-width: 408px;

}
 .at a{
    color: var(--primary-color);
    align-items: end;
    text-decoration: none;
    display: flex;
    gap: 5px;
}
.at p{
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: left;

}
.mainimg_img {
    flex: 1;
}
.brand{
    display: flex;
    gap: 5px;

}
.hamburger{
    color: white;
}

.banner_second{
    padding-left: 20px;
    padding-right: 20px;
}
.gridcard {
    display: grid;
grid-template-columns: repeat(4,1fr);
gap: 30px;
}

.slash {
    width: 50px;
    height: 2px;
    background:var(--primary-color);

}


h6 {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.card:nth-child(even){
    margin-top:60px ;
}

.card p {
    color:var(--secondary-color);
    max-width: 147px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 35px 40px 35px 40px;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px #00000012;
    height: 292px;
    color: black;
}

.card:hover {
    background:var(--primary-color);
    color: var(--main-heading-text-color);
    padding-top: 20px;
}

.card:hover .slash {
    background: var(--main-heading-text-color);
}

.card:hover p {
    color:var(--main-heading-text-color);
}

#h5 {
    color: var(--primary-color);
}

.cardpicture {
    max-width: 70px;
}

.productcard {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.ig {
    padding: 12px 12px;
    background: var(--main-heading-text-color);
    border-radius: 45px;
}

.button_icon {
    gap: 10px;
    position: absolute;
    display: flex;
    bottom: 15px;
}
.btnicon{
    width: 40px;
    height: 40px;
    border-radius: 44px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    
}
.saleimg{
    position: relative;
    display: flex;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card_sale {
    width: 51px;
    height: 24px;
    background: var(--primary-color);
    position: absolute;
    top: 20px;
    left: 20px;
}

.pricing {
    padding: 25px 25px 35px 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.ratting {
    display: flex;
    width: 182px;
    height: 26px;
    justify-content: space-between;
}

.ratting_star {
    color: var(--main-heading-text-color);
    width: 50px;
    height: 26px;
    padding: 4px;
    gap: 5px;
    border-radius: 20px;
    background: #26335D;
    align-items: center;
    display: flex;
}

s {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
}

.down {
    width: 16px;
    height: 16px;
    color: var(--secondary-color);
}

.sale h6 {
    color: var(--secondary-color);
}

.downsale {
    width: 83px;
    height: 24px;
    display: flex;
    justify-content: space-around;
}

.pricetag {
    width: 108px;
    height: 34px;
    display: flex;
    gap: 5px;
}

.tag1 {
    color: var(--secondary-color);
}

.tag2 {
    color: blue;
}

.bar {
    width: 94px;
    height: 7px;
    background: #FF6551;
}

.bt {
    padding: 160px 0px;
}

.at {
    padding-left: 100px;
}

.subscribox {
    max-width: 323px;
    padding: 50px 40px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 13px 19px 0px #00000012;
    position: relative;
}

.saleposter {
    left: 260px;
    top: 0px;
    padding: 29px 16px 29px 16px;
    gap: 10px;
    border-radius: 52px;
    background: #E77C40;
    color:var(--main-heading-text-color);
    position: absolute;
    display: flex;
    justify-content: center;
}

.heart {
    width: 96px;
    height: 96px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2435A1;

}

.ic {
    color:var(--primary-color);
    font-size: 35px;

}

.card_icon {
    width: 70px;
    height: 76px;
    background: #F9FDFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon {
    color:var(--main-heading-text-color);
    font-size: 40px;

}

.subblock {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 200px;
    background: #2DC071;
    ;
}

.block {
    display: flex;
    gap: 5px;
    align-items: center;
}

.tick {
    background: #BDBDBD;
    ;
}

.updates {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribox h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color:var(--primary-color);
}

.subscribox h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #8EC2F2;
}

.subscribox p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:var(--secondary-color);
}

.subscribtion {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.block h6 {
    color: #252B42;

}

.profile_box {
    max-width: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.sale-label {
    padding: 0px 10px 0px 10px;
    gap: 0px;
    border-radius: 3px;
    position: absolute;
    background:var(--primary-color);
    box-shadow: 0px 2px 4px 0px #0000001A;
    color: var(--main-heading-text-color);
top: 20px;
left: 20px;
}

.profile_box p {
    max-width: 320px;
    text-align: center;
}

.profile_box h6 {
    color: var(--secondary-color);
}

.profile {
    display: flex;
    justify-content: space-around;
}

.pad {
    padding: 160px 0px 160px;
}

.text_content2 h2 {
    color: var(--main-heading-text-color);
}



.layer_coloum {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px 160px;
    gap: 80px;
}
.heading_content.center h2{
    color: var(--main-heading-text-color);
}
.container_footer {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 2fr;
    padding: 50px 20px 50px 20px;
    max-width: 1050px;
    margin: auto;
    gap: 25px;
}

.footerbox a {
    list-style: none;
    text-decoration: none;
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.footerbox h5{
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;

}

.footerbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 10px;
    align-items: center;

}
.contact .call{
    font-size: 22px;
}
.contact .location{
    font-size: 32px;
    
}
.contact .gmail{
    font-size: 23px;
}
.footerbox_cnt {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.footerbox_cnt h6 {
    color:var(--secondary-color);
}

.footerbox_cnt i {

    display: flex;
    align-items: center;
    color: var(--primary-color);
}
.footerbox_cnt h5{

font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;

}
.contact a {
    text-decoration: none;
    color:var(--secondary-color);
    font-size: 14px;
    font-weight: 700;
}

.emailbox {
    display: flex
}

.emailbox form {
    width: 688px;
    display: flex;
    justify-content: space-between;

}

.txt {
    width: 50vw;
    height: 47px;
    outline: none;
    padding-left: 25px;
}

.emailbox .btn.red_btn.a {
    border-radius: 0%;
    position: absolute;
    height: 45px;
}

::placeholder {
    font-weight: 550;
}

.rights {

    background: #FAFAFA;
    display: flex;
    justify-content: space-around;
padding:30px 0px 30px;
}
.rights .container{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.social_media {
    display: flex;
    gap: 20px;
}
.social_media a{
    color: #FF6551 ;

}
#check{
    display: none;
}
#close{
    display: none;
}
#ham-icon{
    display: none;
}
.navbar .dropdown{
    display: none;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--main-heading-text-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 120px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin-top: -20px;
    gap: 5px;
    top: 40px;
}

.dropdown_parent:hover .dropdown li{
    padding: 0px;

}
.dropdown_parent{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#click{
    display: none;
}
.dropdown_parent label{
    display: flex;
    gap: 2px;
    align-items: center;
}
.navbar .dropdown a{
    color:#FFFFFF;
    background-color:var(--banner-color);
    padding: 5px;
    gap: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}





